body{
    box-sizing: border-box;
    max-width:600px;
    margin:50px auto;
}
header,footer{
background-color: aqua;
border:1px solid black;
}
.container{
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 20px;
}
header{
    grid-area: 1/1/2/3;
    text-align: center;
}
aside{
    grid-area: 2/1/3/2;
}
article{
    grid-area: 2/2/3/3;
}
footer{
    grid-area: 3/1/4/3;
    text-align: center;
}