<!DOCTYPE html>
<html>
  <head>
    <title>Grid layout</title>
    <link rel="stylesheet" href="style.css" />
    <meta charset="utf-8" />
  </head>
  <body>
    <main>
      <header>
        <img src="img/logo.png" alt="logo" />
        <ul class="list">
          <li><a href="#">Home</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Services</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </header>

      <aside>
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Services</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </aside>

      <section class="left">
        <img src="img/red.jpg" alt="image" />
        <!-- <h1>Using customer journey to drive commerce</h1>
                <p>
                    Time for you to experiment with this acquired knowledge. 
                    Build a grid with multiple columns and rows and span some of the items inside that grid.
                    After that,test the justify-content and align-content properties. 
                    Make sure that the size of the grid container is larger than the size of the grid itself.
                </p> -->
      </section>
      <section class="right">
        <h1>Using customer journey to drive commerce</h1>
        <p>
          Once we aligned on priorities for the business, our team set to
          mapping the experience. Building an experience-map collaboratively
          helped everyone understand the importance of customer experience. With
          the user at the heart, the strategy focused on cultural insights and
          user behaviour. Divided into True Travellers and Seekers, the site
          framework brought the brand to its audience in an experiential and
          unexpected way, similar to offline experiences. The ultimate aim was
          to keep the user informed at all contexts with transparency and
          clarity, speed up consumer dialogue and reduce offline interaction.
        </p>
      </section>

      <footer>
        <p>
          © 2019 Leaf Design, 411 Abhishek, Off New Link Road, Andheri West,
          Mumbai 400053
        </p>
      </footer>
    </main>
  </body>
</html>
